@using System.Reflection
@using Dynamicweb.Rapido.Blocks.Components
@using Dynamicweb.Rapido.Blocks.Components.Articles


@* Component for the articles *@

@helper RenderArticleSubHeader(ArticleSubHeader settings)
{
    if (!String.IsNullOrEmpty(settings.Title))
    {
        <h2 class="article__header">@settings.Title</h2>
    }
}