@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using System
@using System.Web
@using Dynamicweb.Frontend.Navigation
@using Dynamicweb.Rapido.Blocks.Components.General
@using Dynamicweb.Rapido.Blocks.Components

@Include("ParagraphBase.cshtml")

@{ 
    var navigationSettings = new NavigationSettings();
    navigationSettings.StartLevel = 1;
    navigationSettings.StopLevel = 10;
    navigationSettings.ExpandMode = ExpandMode.PathOnly;

    if (!string.IsNullOrEmpty(Model.Item.GetString("NavigationRoot"))) {
        int rootPageId = Convert.ToInt32(Model.Item.GetString("NavigationRoot").Substring(Model.Item.GetString("NavigationRoot").LastIndexOf('=') + 1));
        navigationSettings.RootPageId = rootPageId;    
    }
}

<div class="u-full-width">
    @Navigation.RenderNavigation("Navigation/Breadcrumbs.cshtml", navigationSettings)
</div>



