@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>
@using Dynamicweb.Frontend
@using Dynamicweb.Rapido.Blocks.Components
@using Dynamicweb.Rapido.Blocks.Components.General


<div class="grid__cell">
    <div class="video-wrapper">
        @Model.Item.GetString("VideoHTML")
    </div>
</div>


