@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General
@using Dynamicweb.Rapido.Blocks.Components

@functions {
    BlocksPage orderlinesPage = BlocksPage.GetBlockPage("RMADetails"); 
}

@{
    Block orderlines = new Block
    {
        Id = "RmaDetailsOrderLines",
        SortId = 30,
        Design = new Design
        {
            CssClass = "js-order-lines-container u-margin-bottom--lg"
        },
        Template = RenderOrderLines()
    };

    if (GetBoolean("Ecom:CustomerCenter.RMA.HasRMAOrderLines"))
    {
        orderlinesPage.Add("RmaDetailsForm", orderlines);
    }
}

@helper RenderOrderLines() {
    foreach (LoopItem orderline in GetLoop("RMAOrderLines"))
    {
        string header = Translate("Product No") + ": " + orderline.GetString("Ecom:RMA:OrderLine.ProductNumber");
        bool hasOrderlineAddContent = !string.IsNullOrWhiteSpace(orderline.GetString("Ecom:CustomerCenter.RMA.HasAddContent"));
        bool hasOrderlineAddComment = !string.IsNullOrWhiteSpace(orderline.GetString("Ecom:CustomerCenter.RMA.HasAddComment"));

        MediaListItem listItem = new MediaListItem
        {
            CssClass = "media-list-item--rma-item"
        };

        listItem.AddInfoRow(Translate("Quantity"), orderline.GetString("Ecom:RMA:OrderLine.Quantity"));
        listItem.AddInfoRow(Translate("Description"), orderline.GetString("Ecom:RMA:OrderLine.ProductName"));
        listItem.AddInfoRow(Translate("Total price"), orderline.GetString("Ecom:RMA:OrderLine.TotalPrice"));

        if (hasOrderlineAddContent)
        {
            string orderlineid = GetString("ParagraphID") + "OrderLineID" + orderline.GetString("Ecom:RMA:OrderLine.ID");

            listItem.Title = Render(new CheckboxField {
                Name = orderlineid,
                Label = header,
                OnChange = "selectRMAProduct(this)",
                WrapperCssClass = "u-no-margin",
                CssClass = "js-rma-item-checkbox"
            }).ToString();
        }
        else
        {
            listItem.Title = header;
        }

        <div class="u-border-bottom js-rma-item">
            @Render(listItem)

            @if (hasOrderlineAddComment)
            {
                string commentId = orderline.GetString("ParagraphID") + "ProductComment" + orderline.GetString("Ecom:RMA:OrderLine.ID");
                @Render(new TextareaField { Name = commentId, Rows = 3, Label = Translate("Add comment"), CssClass = "u-full-width", WrapperCssClass = "js-comment u-hidden" })
            }
        </div>
    }    
}