@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General

@functions {
    BlocksPage commentPage = BlocksPage.GetBlockPage("Order");
}

@{
    if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order.Customer.Comment")))
    {
        commentPage.Add("OrderInfoBlocks", new Block
        {
            Id = "Comment",
            SortId = 10,
            Template = RenderComment()
        });
    }
}

@helper RenderComment()
{
    <div class="u-padding">
        @Render(new Heading { CssClass = "u-no-margin", Title = Translate("Comment"), Level = 2 })
        <div class="u-margin-bottom">@GetString("Ecom:Order.Customer.Comment")</div>
    </div>
}