@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Rapido.Blocks

@functions {
    BlocksPage logoPage = BlocksPage.GetBlockPage("Order");
}

@{
    logoPage.Add("OrderHeader", new Block
    {
        Id = "HeaderLogo",
        SortId = 10,
        Template = RenderLogo(),
        Design = new Design
        {
            CssClass = "grid__col-xs-7"
        },
    });
}


@helper RenderLogo()
{
    var logoImage = "/Admin/Public/GetImage.ashx?width=200&amp;height=50&amp;crop=5&amp;Compression=75&amp;image=" + Pageview.AreaSettings.GetItem("Ecommerce").GetFile("ReceiptLogoImage").PathUrlEncoded;
    var addressSettings = Pageview.AreaSettings.GetItem("Settings").GetItem("Address");
    var businessName = "";

    if (addressSettings != null)
    {
        businessName = addressSettings.GetString("Name");
    }

    <div class="u-margin receipt__logo dw-mod">
        <img class="b-lazy" src="/Files/Images/placeholder.gif" data-src="@logoImage" alt="@businessName" />
    </div>
}