@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb.Rapido.Blocks;
@using Dynamicweb.Rapido.Blocks.Components.General;
@using Dynamicweb.Rapido.Blocks.Components;

@functions {
    BlocksPage headerPage = BlocksPage.GetBlockPage("OrderConfirmation");
}

@{
    headerPage.Add("Head", new Block
    {
        Id = "CartHeader",
        SortId = 10,
        Template = RenderCartHeader(),
        Design = new Design {
            RenderType = RenderType.Column,
            Size = "6"
        }
    });
}

@helper RenderCartHeader()
{
    Button backButton = new Button {
        Title = Translate("Back to draft details"),
        Href = "/Default.aspx?ID=" + GetPageIdByNavigationTag("OrderDraft"),
        Icon = new Icon
        {
            Prefix = "fal",
            Name = "fa-arrow-left",
            LabelPosition = IconLabelPosition.After
        },
        ButtonLayout = ButtonLayout.LinkClean,
        CssClass = "u-margin-bottom--xl"
    };

    <div>
        @Render(backButton)
    </div>

    <div>
        <h1 class="u-inline-block u-margin-right dw-mod">
           @Translate("Review order information") 
        </h1>

        @foreach (LoopItem error in GetLoop("ValidationErrors")) {
            @Render(new NotificationMessage { 
                Message = error.GetString("Ecom:Cart.ValidationError.ErrorMessage"), 
                MessageType = NotificationMessageType.Error, 
                MessageLayout = NotificationMessageLayout.Box, 
                CssClass = "u-margin-bottom--lg", 
                Icon = new Icon { Prefix = "fas", Name = "fa-exclamation-triangle", LabelPosition = IconLabelPosition.After } 
            })
        }
    </div>
}