@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System.Text.RegularExpressions
@using System.Linq
@using Dynamicweb.Core
@using Dynamicweb.Ecommerce.Orders
@using System
@using System.Web

@{
    string[] targets = HttpContext.Current.Request.QueryString["target"] != null ? HttpContext.Current.Request.QueryString["target"].Split(',') : null;

    if (targets != null) {

        foreach (string target in targets) {

         
            if ( target == "Test1" ) {
                <div data-template="Test1">
                    @RenderTest1()
                </div>
            }
    
           

         

        }
    }
}

@Include("../../../Components/GridBuilder.cshtml")
@Include("../../../Components/GeneralComponents.cshtml")



@Include("OnepageItems/Test1.cshtml")
