.btn--primary.dw-mod {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  border-width: 1px;
  border-color: #212121;
  border-radius: 0.5rem;
  background-color: #212121;
}
.btn--primary.dw-mod:focus,
.btn--primary.dw-mod:hover,
.btn--primary.dw-mod:active,
.btn--primary.dw-mod.btn--active {
  background-color: #1e1e1e;
}
.btn--secondary.dw-mod {
  color: #212121;
  font-size: 15px;
  font-weight: normal;
  border-width: 1px;
  border-color: #212121;
  border-radius: 0.5rem;
  background-color: transparent;
}
.btn--secondary.dw-mod:focus,
.btn--secondary.dw-mod:hover,
.btn--secondary.dw-mod:active,
.btn--secondary.dw-mod.btn--active {
  background-color: #1a1a1a;
  color: #ffffff;
}
.btn--tertiary.dw-mod {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  border-width: 1px;
  border-color: #1565C0;
  border-radius: 0.5rem;
  background-color: #1565C0;
}
.btn--tertiary.dw-mod:focus,
.btn--tertiary.dw-mod:hover,
.btn--tertiary.dw-mod:active,
.btn--tertiary.dw-mod.btn--active {
  background-color: #135bad;
}
.btn--link.dw-mod {
  color: #0094F5;
}
.btn--link.dw-mod:focus,
.btn--link.dw-mod:hover,
.btn--link.dw-mod:active {
  color: #0094F5;
}
.btn--loyalty-points {
  color: #0094F5;
  border-color: #0094F5;
}
.btn--loyalty-points:hover,
.btn--loyalty-points:focus,
.btn--loyalty-points:active,
.btn--loyalty-points.active {
  background-color: #0094F5;
  color: white;
}
.btn--impersonation.dw-mod {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn--impersonation.dw-mod:hover,
.btn--impersonation.dw-mod:focus,
.btn--impersonation.dw-mod:active,
.btn--impersonation.dw-mod.active {
  background-color: #FFFFFF;
  color: #D32F2F;
}
.pager__num:hover:not(.pager__num--current):not(.pager__num--ellipsis) {
  border: 1px solid #212121;
}
.pager__num.pager__num--current {
  background-color: #212121;
}
.image-filter--brand-color-one {
  background-color: rgba(21, 101, 192, 0.3);
}
.image-filter--brand-color-two {
  background-color: rgba(0, 148, 245, 0.3);
}
.image-filter--brand-color-three {
  background-color: rgba(76, 175, 80, 0.3);
}
.image-filter--brand-color-four {
  background-color: rgba(211, 47, 47, 0.3);
}
.image-filter--brand-color-five {
  background-color: rgba(255, 167, 38, 0.3);
}
.impersonation.dw-mod {
  background-color: #D32F2F;
  color: #FFFFFF;
}
.impersonation__header.dw-mod {
  color: #FFFFFF;
  background-color: #811b1b;
}
.impersonation-text.dw-mod {
  color: #FFFFFF;
}
.impersonation-light-text.dw-mod {
  color: #ffffff;
}
.impersonation__link.dw-mod {
  color: #FFFFFF;
}
.impersonation__link.dw-mod:hover,
.impersonation__link.dw-mod:focus,
.impersonation__link.dw-mod:active {
  color: #FFFFFF;
}
.impersonation__search-field.dw-mod {
  border-color: #FFFFFF;
}
.impersonation__search-field.dw-mod:focus {
  border-color: #FFFFFF;
}
.impersonation__search-results-item.dw-mod {
  border-color: #FFFFFF;
}
.impersonation__search-icon.dw-mod {
  color: #D32F2F;
}
.impersonation__search-results.dw-mod .preloader {
  color: #FFFFFF;
}
.impersonation__typeahead.dw-mod {
  color: #212121;
}
a {
  color: #0085CA;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover {
  color: #0071ac;
}
/**
 * Basic typography style for text
 * Warning: These styles overrides without the default .dw-mod class, as they all target the most basic required elements
 */
h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.6;
  color: #212121;
}
h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  color: #212121;
}
h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.6;
  color: #212121;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 15px;
  font-weight: regular;
  line-height: 1.6;
  color: #212121;
}
a,
.link {
  color: #0094F5;
}
a:hover,
.link:hover,
a:active,
.link:active,
a:focus,
.link:focus {
  color: #0094F5;
}
.u-brand-color-one,
.u-brand-color-one h1,
.u-brand-color-one h2,
.u-brand-color-one h3,
.u-brand-color-one h4,
.u-brand-color-one h5,
.u-brand-color-one h6,
.u-brand-color-one i {
  color: #1565C0;
}
.u-brand-color-one--bg {
  background-color: #1565C0 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-one--bg-lighten-10 {
  background-color: #217ee7;
}
.u-brand-color-one--bg-lighten-20 {
  background-color: #4f98ec;
}
.u-brand-color-one--bg-darken-10 {
  background-color: #104d92;
}
.u-brand-color-one--bg-darken-20 {
  background-color: #0b3564;
}
.u-brand-color-two,
.u-brand-color-two h1,
.u-brand-color-two h2,
.u-brand-color-two h3,
.u-brand-color-two h4,
.u-brand-color-two h5,
.u-brand-color-two h6,
.u-brand-color-two i {
  color: #0094F5;
}
.u-brand-color-two--bg {
  background-color: #0094F5 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-two--bg-lighten-10 {
  background-color: #29aaff;
}
.u-brand-color-two--bg-lighten-20 {
  background-color: #5cbeff;
}
.u-brand-color-two--bg-darken-10 {
  background-color: #0075c2;
}
.u-brand-color-two--bg-darken-20 {
  background-color: #00568f;
}
.u-brand-color-three,
.u-brand-color-three h1,
.u-brand-color-three h2,
.u-brand-color-three h3,
.u-brand-color-three h4,
.u-brand-color-three h5,
.u-brand-color-three h6,
.u-brand-color-three i {
  color: #4CAF50;
}
.u-brand-color-three--bg {
  background-color: #4CAF50 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-three--bg-lighten-10 {
  background-color: #6ec071;
}
.u-brand-color-three--bg-lighten-20 {
  background-color: #92cf94;
}
.u-brand-color-three--bg-darken-10 {
  background-color: #3d8b40;
}
.u-brand-color-three--bg-darken-20 {
  background-color: #2d682f;
}
.u-brand-color-four,
.u-brand-color-four h1,
.u-brand-color-four h2,
.u-brand-color-four h3,
.u-brand-color-four h4,
.u-brand-color-four h5,
.u-brand-color-four h6,
.u-brand-color-four i {
  color: #D32F2F;
}
.u-brand-color-four--bg {
  background-color: #D32F2F !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-four--bg-lighten-10 {
  background-color: #dc5959;
}
.u-brand-color-four--bg-lighten-20 {
  background-color: #e58383;
}
.u-brand-color-four--bg-darken-10 {
  background-color: #ab2424;
}
.u-brand-color-four--bg-darken-20 {
  background-color: #811b1b;
}
.u-brand-color-five,
.u-brand-color-five h1,
.u-brand-color-five h2,
.u-brand-color-five h3,
.u-brand-color-five h4,
.u-brand-color-five h5,
.u-brand-color-five h6,
.u-brand-color-five i {
  color: #FFA726;
}
.u-brand-color-five--bg {
  background-color: #FFA726 !important;
  -webkit-print-color-adjust: exact;
}
.u-brand-color-five--bg-lighten-10 {
  background-color: #ffbc59;
}
.u-brand-color-five--bg-lighten-20 {
  background-color: #ffd08c;
}
.u-brand-color-five--bg-darken-10 {
  background-color: #f29000;
}
.u-brand-color-five--bg-darken-20 {
  background-color: #bf7200;
}
.u-color--loyalty-points {
  color: #0094F5;
}
.u-border-color--loyalty-points {
  border-color: #0094F5;
}
.u-bg-color--loyalty-points {
  background-color: #0094F5;
}
.u-font-awesome {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "IBM Plex Sans";
  font-weight: 900;
}
.center-container.dw-mod {
  max-width: 1440px;
}
.site.dw-mod {
  background-color: #FFFFFF;
}
.logo.dw-mod:not(.logo--mobile) {
  background-color: transparent;
}
.logo--mobile.dw-mod {
  background-color: #FFFFFF;
  height: 40px;
}
.logo__img.dw-mod:not(.logo__img--mobile) {
  height: 30px;
}
.tools-navigation.dw-mod {
  background-color: #EDEDED;
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 12px;
  font-weight: regular;
  line-height: 1.4;
  color: #212121;
}
.menu-tools__link.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 12px;
  font-weight: regular;
  line-height: 1.4;
  color: #212121;
}
.menu-tools__link.dw-mod:hover {
  color: #212121;
}
.main-navigation.dw-mod {
  background-color: #FFFFFF;
}
.main-navigation-mobile.dw-mod {
  background-color: #FFFFFF;
}
.main-navigation-mobile.dw-mod .menu__link.dw-mod {
  color: #212121;
}
.menu--dropdown.dw-mod,
.menu--dropleft.dw-mod {
  background-color: #FFFFFF;
}
.menu--dropdown.dw-mod .menu-dropdown__link.dw-mod,
.menu--dropleft.dw-mod .menu-dropdown__link.dw-mod {
  color: #212121;
  font-size: 14px;
}
.menu--dropdown.dw-mod > .menu__item:after,
.menu--dropleft.dw-mod > .menu__item:after {
  color: #212121;
}
.is-dropdown.dw-mod::after {
  color: #212121;
  font-size: 14px;
  line-height: 2.4em;
  line-height: 29px;
}
.menu-dropdown__item.dw-mod {
  color: #212121;
  font-size: 14px;
}
.menu-dropdown__link.dw-mod,
.menu--dropdown .list__link.dw-mod {
  color: #212121;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
}
.menu--dropdown.dw-mod .menu__item:hover,
.menu--dropleft.dw-mod .menu__item:hover,
.mega-menu.dw-mod .menu__item--mega:hover {
  background-color: #EDEDED;
}
.menu--dropdown.dw-mod .menu__item:hover::after,
.menu--dropleft.dw-mod .menu__item:hover::after,
.mega-menu.dw-mod .menu__item--mega:hover::after {
  color: #212121;
}
.menu--dropdown.dw-mod .menu__item:hover > .menu-dropdown__link.dw-mod,
.menu--dropleft.dw-mod .menu__item:hover > .menu-dropdown__link.dw-mod,
.mega-menu.dw-mod .menu__item--mega:hover > .menu-dropdown__link.dw-mod {
  color: #212121;
  background-color: #EDEDED;
}
.menu--dropdown.dw-mod .menu__item:hover > .mega-menu__link.dw-mod,
.menu--dropleft.dw-mod .menu__item:hover > .mega-menu__link.dw-mod,
.mega-menu.dw-mod .menu__item--mega:hover > .mega-menu__link.dw-mod {
  color: #212121;
  background-color: #EDEDED;
}
.mega-menu.dw-mod {
  background-color: #FFFFFF;
  max-width: 1440px;
}
.mega-menu.dw-mod .menu__item--mega {
  text-align: center;
}
.mega-menu.dw-mod .mega-menu__list-image {
  margin-left: auto;
  margin-right: auto;
}
.mega-menu.dw-mod .mega-menu__header-container {
  text-align: center;
}
.mega-menu__header-container__text.dw-mod {
  color: #212121;
  font-size: 1.6rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
}
.mega-menu__link.dw-mod {
  color: #212121;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
}
.is-mega.dw-mod::after {
  line-height: 29px;
  color: #212121;
}
.mega-menu__col.dw-mod {
  border-right: 1px #a8a8a8 solid;
}
.menu__link.dw-mod:not(.menu__link--icon) {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  color: #212121;
}
.menu__link.dw-mod:not(.menu__link--mobile) {
  line-height: 30px;
}
.menu__link--icon.dw-mod {
  color: #212121;
}
.header-menu__link.dw-mod {
  line-height: 15px;
}
.menu__item.dw-mod:hover:not(.menu__item--top-level) {
  background-color: #EDEDED;
  color: #212121;
}
.menu__item--top-level {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.menu__item--top-level.dw-mod.menu__item--active,
.menu__item--top-level.dw-mod:hover,
.menu__item--top-level.dw-mod:focus,
.menu__item--top-level.dw-mod:active {
  border-bottom-color: #212121;
  color: #212121;
}
.menu__item--top-level.dw-mod.menu__item--active::before,
.menu__item--top-level.dw-mod:hover::before,
.menu__item--top-level.dw-mod:focus::before,
.menu__item--top-level.dw-mod:active::before,
.menu__item--top-level.dw-mod.menu__item--active::after,
.menu__item--top-level.dw-mod:hover::after,
.menu__item--top-level.dw-mod:focus::after,
.menu__item--top-level.dw-mod:active::after {
  color: #212121;
}
.menu__item--top-level.dw-mod.menu__item--active .menu__link,
.menu__item--top-level.dw-mod:hover .menu__link,
.menu__item--top-level.dw-mod:focus .menu__link,
.menu__item--top-level.dw-mod:active .menu__link {
  color: #212121;
}
.menu__item--top-level.dw-mod:not(.menu__item--icon) {
  padding: 0 20px;
}
.menu__item--top-level.dw-mod:first-of-type {
  padding-left: 0;
}
.mini-cart-dropdown.dw-mod {
  background-color: #FFFFFF;
  font-size: 14px;
  color: #212121;
}
.mini-cart-dropdown.dw-mod h4 {
  color: #212121;
}
.mini-cart-dropdown.dw-mod .mini-cart-orderlines__name {
  color: #212121;
}
.mini-cart-dropdown.dw-mod .mini-cart-orderline__name {
  color: #212121;
}
.header-menu__link.dw-mod {
  color: #292929;
}
.header-top.dw-mod {
  background-color: #FFFFFF;
}
.main-navigation.main-navigation--nav-style.dw-mod {
  background-color: #FFFFFF;
}
.main-navigation.main-navigation--nav-style.dw-mod .menu__link.dw-mod {
  color: #212121;
}
.main-navigation.main-navigation--top-style.dw-mod {
  background-color: #FFFFFF;
}
.main-navigation.main-navigation--top-style.dw-mod .menu__link.dw-mod {
  color: #292929;
}
.mobile-navigation.dw-mod {
  background-color: #FFFFFF;
}
.menu-mobile__link.dw-mod,
.mobile-navigation__link.dw-mod,
.menu-mobile__header.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 18px;
  font-weight: regular;
  line-height: 2;
  color: #212121;
}
.menu-mobile__link.dw-mod,
.mobile-navigation__link.dw-mod {
  border-bottom-color: #D3D3D3;
  text-align: left;
}
.mobile-navigation.dw-mod div.btn.dw-mod,
.mobile-navigation.dw-mod label.btn.dw-mod,
.mobile-navigation.dw-mod .circle-icon-btn.dw-mod,
.menu-mobile__link--closed:before {
  color: #212121;
}
.mobile-navigation.dw-mod .circle-icon-btn.dw-mod:after {
  border-color: #212121;
}
.menu-mobile__link--active.dw-mod,
.menu-mobile__header.dw-mod,
.menu-mobile__link--highlighted.dw-mod {
  background-color: #EDEDED;
  border-bottom-color: #EDEDED;
  color: #1565C0;
}
.mobile-navigation__link.dw-mod:hover,
.menu-mobile__link--active.dw-mod:hover,
.menu-mobile__link.dw-mod:hover,
.menu-mobile__header.dw-mod:hover,
.menu-mobile__link--highlighted.dw-mod:hover,
.mobile-navigation__link.dw-mod:focus,
.menu-mobile__link--active.dw-mod:focus,
.menu-mobile__link.dw-mod:focus,
.menu-mobile__header.dw-mod:focus,
.menu-mobile__link--highlighted.dw-mod:focus,
.mobile-navigation__link.dw-mod:active,
.menu-mobile__link--active.dw-mod:active,
.menu-mobile__link.dw-mod:active,
.menu-mobile__header.dw-mod:active,
.menu-mobile__link--highlighted.dw-mod:active {
  background-color: #EDEDED;
  border-bottom-color: #EDEDED;
  color: #1565C0;
}
/* slides design */
.menu-mobile__submenu {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  display: block;
  height: 100vh;
  background-color: #FFFFFF;
}
.expand-trigger:checked ~ .menu-mobile__submenu {
  display: block;
  z-index: 2;
}
.menu-mobile__trigger:before {
  color: #212121;
}
.menu-mobile__trigger:before,
.expand-trigger:checked ~ .menu-mobile__link__wrap .menu-mobile__trigger:before {
  content: "\f105";
  margin: -3px auto 1px;
}
.footer.dw-mod {
  background-color: #E8E8E8;
  color: #212121;
}
.footer__heading.dw-mod {
  background-color: #E8E8E8;
  color: #212121;
}
.footer.dw-mod .collection.dw-mod a,
.footer.dw-mod .link {
  background-color: #E8E8E8;
  color: #212121;
}
.product-thumbs__item.dw-mod:hover,
.product-thumbs__item--active.dw-mod {
  border: 4px solid #0094F5;
}
/* 
    Sale stickers
*/
.stickers-container__tag--sale.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 15px;
  font-weight: regular;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #1565C0;
}
/* 
    New stickers
*/
.stickers-container__tag--new.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 15px;
  font-weight: regular;
  line-height: 1.4;
  color: #FFFFFF;
  background-color: #4CAF50;
}
.stickers-container__tag--new.dw-mod:not(.stickers-container__tag--micro) {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  background-color: #4CAF50;
  text-align: center;
  border-radius: 200px;
  margin: 0.6em;
}
/*
    Custom sticker
*/
.stickers-container__tag--custom.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.4;
  color: #FFFFFF;
  background-color: #212121;
}
.receipt__header.dw-mod {
  background-color: #0094F5 !important;
}
.receipt__header.dw-mod * {
  color: #FFFFFF !important;
}
.product__price-actions-wrap.dw-mod {
  text-align: left;
}
.product__price-actions-flex-wrap.dw-mod {
  justify-content: flex-start;
}
.product__stock-delivery.dw-mod {
  text-align: left;
}
.product__price-wrap.dw-mod {
  text-align: left;
}
.price--product-page.dw-mod {
  font-family: "Nunito", sans-serif;
  font-display: auto;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  color: #212121;
}
.vat-price--product-page.dw-mod {
  font-size: 22.4px;
}
.mini-cart-update .menu-tools__link.dw-mod {
  color: #fff;
}
.mini-cart__counter.dw-mod {
  border-radius: 100px;
  background-color: #0094F5;
  color: #FFFFFF;
}
.mini-cart-update.dw-mod {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.price--product-list.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
.product-list__list-item.dw-mod {
  background-color: #FFFFFF;
  border-color: #EDEDED;
  border: 1px solid #ffffff;
}
.product-list__list-item.dw-mod .product-list__list-item__right.dw-mod,
.product-list__list-item.dw-mod .product-list__list-item__left.dw-mod {
  border-top: 1px solid #ffffff;
}
.product-list__grid-item.dw-mod .product-list__grid-item__price-info.dw-mod,
.product-list__grid-item.dw-mod .product-list__grid-item__footer.dw-mod {
  background-color: #FFFFFF;
}
.product-list__grid-item.dw-mod .product-list__grid-item__image.dw-mod,
.product-list__grid-item.dw-mod .product-list__grid-item__price-info.dw-mod,
.product-list__grid-item.dw-mod .product-list__grid-item__footer.dw-mod {
  border: 1px solid #ffffff;
}
.product-list__grid-item__price-info.dw-mod,
.product-list__grid-item__footer.dw-mod {
  text-align: left;
}
.vat-price--product-list.dw-mod {
  font-size: 10.5px;
}
.product-list__tiles-item.dw-mod .product-list__tiles-item__price-info.dw-mod,
.product-list__tiles-item.dw-mod .product-list__tiles-item__footer.dw-mod {
  background-color: #FFFFFF;
}
.product-list__details-item.dw-mod {
  background-color: #FFFFFF;
  border-color: #EDEDED;
  margin-top: 0.6em;
  border: 1px solid #ffffff;
}
.expand-trigger:checked + .expand-container .expand-container__content .facets-container__list.dw-mod {
  max-height: 250px;
}
.facets-container__header.dw-mod {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
  background-color: #FFFFFF;
}
.facets-container.dw-mod {
  border: none;
}
.facets-container.dw-mod .facets-container__box {
  background-color: #FFFFFF;
}
.facets-container.dw-mod .facets-container__box,
.facets-container.dw-mod .facets-container__header {
  border: none;
}
label[for*="Color"] + * > .facets-container__list.dw-mod {
  padding-left: 4px;
}
.facets-container__search.dw-mod {
  margin: 0.6em;
}